                      <!-- content -->                      
                        <div class="row1">
                          
                         <!-- main col left --> 
                         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 plr0-sm">
                           
                              <!-- START Widget Panel -->
                         <div class="widget panel bw0-sm mb0 border-radius0-imp">
                            <!-- Thumbnail -->
                            <div class="thumbnail">
                                <!-- media -->
                                <div class="media default_pic" id="default_pic">
                                    <%= render  'users/default_pic' %>
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ Thumbnail -->
                         </div>
                        <!-- START Widget Panel -->
                         <div class="widget panel bw0-sm bottom-fixed mb0 border-radius0-imp">
                             <!-- meta -->
                                    <span class="meta bottom">
                                        <h4 class="semibold mt10 text-center"><%= current_user.name %>
                                        </h4>
                                    </span>
                            <!--/ meta -->
                            <!-- blockquote -->
                            <div class="m10-p10">
                                
                                <blockquote class="mt5 text-center m0-p10">
                                    <p class="font-15"   >
                                      <a href="#" id="xe_status" data-type="textarea" data-pk="1" class="text-default" ><%= current_user.status %></a>
                                    </p>
                                </blockquote>
                            </div>
                                <!--/ blockquote -->
                                <% @get_details = current_user.getDetails %>
                                <% @get_details = MyDetail.new if @get_details.nil? %>
                            <!-- panel body -->
                            <div class="panel-body pl5 pr5 pt0 pb0">
                                 <!-- Nav section -->
                                <ul class="nav nav-section nav-justified mb5">
                                    <li>
                                        <div class="section">
                                            <h4 class="nm">
                                              <i class="flaticon-add185 icon-grey img-responsive center_block icon-font-30"></i>
                                            </h4>
                                            <h4 class="nm mt5"><%= @get_details.like_count %></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="section">
                                            <h4 class="nm">
                                              <i class="flaticon-medal3 icon-grey img-responsive center_block icon-font-35"></i>
                                            </h4>
                                            <h4 class="nm mt5"><%= @get_details.badge_count %></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="section">
                                            <h4 class="nm">
                                              <i class="flaticon-quill1 icon-grey img-responsive center_block icon-font-35"></i></h4>
                                            <h4 class="nm mt5"><%= @get_details.testimonial_count %></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="section">
                                            <h4 class="nm">
                                              <i class="ico-map-marker icon-grey img-responsive center_block icon-font-35"></i></h4>
                                            <h4 class="nm mt5"><%= @get_details.location_count %></h4>
                                        </div>
                                    </li>                                    
                                    <li class="dis-none-imp">
                                        <div class="section">
                                            <h4 class="nm">
                                              <i class="flaticon-stack21 icon-grey img-responsive center_block icon-font-35"></i></h4>
                                            <h4 class="nm mt5"><%= @get_details.picture_count %></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="section">
                                            <h4 class="nm">
                                              <i class="ico-star icon-grey   img-responsive center_block icon-font-35"></i></h4>
                                            <h4 class="nm mt5"><%= @get_details.interest_count %></h4>
                                        </div>
                                    </li>
                                </ul>
                                <!--/ Nav section -->
                                  <div class="panel panel-minimal nm dis-none">
          
                                      <!-- START Bio -->
                                      <div class="panel-toolbar-wrapper hidden-md hidden-lg">
                                          <div class="panel-toolbar">
                                              <h5 class="semibold nm text-info"><i class="ico-info2 mr5"></i>About me</h5>
                                          </div>
                                      </div>
                                      <div class="panel-body pt0  hidden-md hidden-lg">
                                          <p class="semibold mb5 icon-black">
                                            <a href="#" class="xe_about_me text-default" data-type="textarea" data-pk="1" ><%= current_user.about_me %></a>
                                          </p>
                                          
                                      </div>
                                      <!--/ END Bio -->
                                  </div>
                            </div>
                            <!--/ panel body -->
                        </div>
                        <!--/ END Widget Panel -->
                        </div>
                        </div>


<script>
 
  $("#li_profile").addClass("active");
//  $("#minimize_sidebar_a").click();


    //turn to inline mode
$.fn.editable.defaults.mode = 'inline';

    // user status - xeditable
    // ================================

    $("#xe_status").editable({
        title: "Enter status",
           rows: 5,
           url: '/users/<%= current_user.uuid %>/update_status', 
           ajaxOptions: {
               dataType: 'json' //assuming json response
           },           
           success: function(data, config) {
               if(data && data.id) {  //record created, response like {"id": 2}
                   //set pk
                    //$(this).editable('option', 'pk', data.id);
                   //remove unsaved class
                   $(this).removeClass('editable-unsaved');
                   //show messages
                  // var msg = 'Updated successfully.';
                  // $('#msg').addClass('alert-success').removeClass('alert-error').html(msg).show();
                   $('#save-btn').hide(); 
                   $(this).off('save.newuser');                     
               } else if(data && data.errors){ 
                   //server-side validation error, response like {"errors": {"username": "username already exist"} }
                   config.error.call(this, data.errors);
               }               
           },
           error: function(errors) {
               var msg = '';
               if(errors && errors.responseText) { //ajax error, errors = xhr object
                   msg = errors.responseText;
               } else { //validation error (client-side or server-side)
                   $.each(errors, function(k, v) { msg += k+": "+v+"<br>"; });
               } 
               $('#msg').removeClass('alert-success').addClass('alert-error').html(msg).show();
           }
       });

     $(".xe_about_me").editable({
        title: "Enter status",
           rows: 5,
           url: '/users/<%= current_user.uuid %>/update_about_me', 
           ajaxOptions: {
               dataType: 'json' //assuming json response
           },           
           success: function(data, config) {
               if(data && data.id) {  //record created, response like {"id": 2}
                   //set pk
                    //$(this).editable('option', 'pk', data.id);
                   //remove unsaved class
                   $(this).removeClass('editable-unsaved');
                   //show messages
                  // var msg = 'Updated successfully.';
                  // $('#msg').addClass('alert-success').removeClass('alert-error').html(msg).show();
                   $('#save-btn').hide(); 
                   $(this).off('save.newuser');                     
               } else if(data && data.errors){ 
                   //server-side validation error, response like {"errors": {"username": "username already exist"} }
                   config.error.call(this, data.errors);
               }               
           },
           error: function(errors) {
               var msg = '';
               if(errors && errors.responseText) { //ajax error, errors = xhr object
                   msg = errors.responseText;
               } else { //validation error (client-side or server-side)
                   $.each(errors, function(k, v) { msg += k+": "+v+"<br>"; });
               } 
               $('#msg').removeClass('alert-success').addClass('alert-error').html(msg).show();
           }
       });



</script>                      
        